@font-face{
    font-family : "Gravity-Bold";

    src : url('font/Gravity-Bold.eot'); /* Pour IE9 Compat mode */
    src : url('font/Gravity-Bold.eot?') format('eot'),
          url('font/Gravity-Bold.woff') format('woff'),
          url('font/Gravity-Bold.svg#abcd') format('svg'),
          url('font/Gravity-Bold.ttf') format('truetype');
}
@font-face{
    font-family : "Gravity-Light";

    src : url('font/Gravity-Light.eot'); /* Pour IE9 Compat mode */
    src : url('font/Gravity-Light.eot?') format('eot'),
          url('font/Gravity-Light.woff') format('woff'),
          url('font/Gravity-Light.svg#abcd') format('svg'),
          url('font/Gravity-Light.ttf') format('truetype');
}
@font-face{
    font-family : "Gravity-Book";

    src : url('font/Gravity-Book.eot'); /* Pour IE9 Compat mode */
    src : url('font/Gravity-Book.eot?') format('eot'),
          url('font/Gravity-Book.woff') format('woff'),
          url('font/Gravity-Book.svg#abcd') format('svg'),
          url('font/Gravity-Book.ttf') format('truetype');
}
body {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction : column;
	align-items:center;
}
a{
	text-decoration: none;
	color: #0471D0;
}
nav{
	margin-top:20px;
	width: 100%;
	display: flex;
	align-items: center;
	z-index:10;
	justify-content: center;
	padding-left: 25%;
}
nav a{
	padding-left: 5%;
	font-family: "Gravity-Bold";
	color: black;
	font-size: 1em;
}
nav a:hover{
	color:#0471D0;
}
#main_pic{
	margin-top: -22px;
	margin-bottom: 22px;
	display: block;
	max-width: 100%;
	height: auto;
}
.main{
	width: 90%;
	display: flex;
	font-family: "Gravity-Bold";
	font-size: 1.2em;
	justify-content: space-around;
}
.main a {
	width: 30%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 1%;
	background-image: url('images/filetopacity50.png');
	background-repeat: no-repeat;
	background-size: cover;
	border: 5px solid #0471D0 ;
	box-shadow: 10px 10px 5px #656565;
}

.main a:hover{
	transform: scale(1.05);
	color: #EF3026;
	border: 5px solid #EF3026;
}